

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    
    font-family: 'Cartoon Riot', sans-serif;
}

.container-all{
    border-radius: 30px;
    border: #331E53 10px solid;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    background: #9c6ce6;
    margin-top: 100px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.title{
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0 auto;
    justify-content: center;
    width: 400px;
    color: #331301;
    font-size: 40px;
    margin-bottom: 60px auto;
    background-color: #DB9E45;
    border-radius: 50px;
    border: #8E5A16 10px solid;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}


.sub-title2{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 140px;
    color: #331301;
    font-size: 40px;
    margin-bottom: 60px auto;
    background-color: #DB9E45;
    border-radius: 50px;
    border: #8E5A16 10px solid;
    font-size: 30px;
    font-weight: 400;
}

.sub-title3{
    float: right;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 15px;
    width: 140px;
    color: #331301;
    font-size: 40px;
    margin-bottom: 60px auto;
    background-color: #DB9E45;
    border-radius: 50px;
    border: #8E5A16 10px solid;
    font-size: 30px;
    font-weight: 400;
}
.container-all img{
    width: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.container-all p{
    text-align: justify;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
}










